body {
  background-color: black;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(99deg,   #040D12  0%, #001C30  100%);
}

nav {
  z-index:10001 !important
}
.gradientBg{
  background: linear-gradient(99deg,   #040D12  0%, #001C30  100%);
}

.gBg{
  background: linear-gradient(99deg,   #1B262C  0%, #000000  100%);
}

.btnprimary {
  @apply bg-first text-2xl text-dark py-4 px-5 transition-all duration-300 rounded hover:text-dark hover:bg-blue
}